<div class="container">
    <h1>Login for Admin</h1>
    <form action="/admin/login" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= locals.errorObj?.email || '' %>"><br>
        <% if(locals.errorObj && errorObj.emailError) { %>
            <p class="text-danger"><%= errorObj.emailError %></p>
        <% } %>
        <input type="password" name="password" placeholder="Password"><br>
        <% if(locals.errorObj && errorObj.passwordError) { %>
            <p class="text-danger"><%= errorObj.passwordError %></p>
        <% } %>
        <button type="submit">Login</button>

    </form>
</div>