<div class="error-box">
    <h1>500</h1>
    <h3 class="h2 mb-3">
      Oops! Page not found!
    </h3>
    <p class="h4 font-weight-normal">The page you requested was not found.</p>
    <a href="/" class="btn btn-dark rounded">Back to Home</a>
  </div>